.destinations-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:24px;
}

.card{
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: 200px;
    padding: 24px 16px;
    border-radius: 16px;

    text-align: center;
}

.card h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin-bottom: 45px;
}

.card.card.cottesloe{
    background: url(../img/cottesloe-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card.card.hillarys{
    background: url(../img/hillarys-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card.card.lancelin{
    background: url(../img/lancelin-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card.card.denmark{
    background: url(../img/denmark-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (min-width: 768px) {
    .destinations-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    }
}

@media screen and (min-width: 1024px) {
    .card{
        width: 430px;
        height: 308px;
    }

    .card h3{
        font-size: 48px;
        margin: 30px 0 100px 0;
    }
}

@media screen and (min-width: 1440px) {
    .card{
        width: 588px;
    }
}

@media screen and (min-width: 1920px) {
    
    .card{
        width: 650px;
    }
}