header{
    width: 100vw;
    height: 138px;
    background-color: var(--background-tertiary-color);
}
.compass-logo{
    display: inline-block;
    width: 5vw;
    min-width: 65px;
}

.main-logo{
    display: none;
    margin: 37px  0 0 48px;
}