header {
  width: 100vw;
  height: 138px;
  background-color: var(--background-tertiary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 46px;
  position: relative;
}
.compass-logo {
  display: inline-block;
  width: 90px;
  min-width: 58px;
}

.compass-logo img {
  width: 100%;
}

.main-logo {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style-type: none;
}

.list-links li {
  margin: 16px 0 ;
}

.list-links li a{
    text-decoration: none;
    color: var(--text-secondary-color);
}