header{
    width: 100vw;
    height: 138px;
    background-color: var(--background-tertiary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 46px;
}
.compass-logo{
    display: inline-block;
    width: 90px;
    min-width: 58px;

}

.compass-logo img{
    width: 100%;  
}

.main-logo{
    display: none;
}

nav{
    display: none;
}