/* Timeline section: vertical timeline layout and event cards */

[hidden] {
  display: none !important;
}

.timeline-wrapper {
  position: relative;
  width: 100%;
  margin: 32px auto 0 0;
  padding: 20px 0;
}

.timeline-wrapper::after {
  content: "";
  position: absolute;
  width: 3px;
  background: var(--highlight-primary-color);
  top: 0;
  bottom: 0;
  left: 10px;
}

.timeline-item {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 10px 35px;
}

.content {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}

.timeline-date,
.timeline-bubble-date {
  font-size: 13px;
  display: block;
  color: grey;
  margin-bottom: 8px;
}

.card-row {
  display: flex;
  gap: 0px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content img,
.timeline-bubble-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  transform: translateY(-2.5em);
}

.card-text-h3 {
  color: var( --highlight-secondary-color --highlight-secondary-color);
  position: relative;
  line-height: var(--timeline-align);
}

.card-text-h3::before {
  content: "";
  position: absolute;
  top: var(--timeline-align);
  right: -30px;
  left: -15px;
  height: 2px;
  background: var(--timeline-color);
}

.denmark-bullets {
  margin-left: 15px;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 4px solid var(--highlight-secondary-color);
  border-radius: 50%;
  z-index: 20;

  position: absolute;
  top: 76px;
  left: 0.7%;
  transform: translateY(-50%);
}

.timeline-dot:hover {
  width: 21px;
  height: 21px;
  border: 6px solid var(--secondary-color);
}

.timeline-bubble {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;

  background-color: var(--background-quinary-color);
  border-radius: 15px;

  width: 295px;
  left: 33px;
  top: 12px;
  gap: 5px;
}

.timeline-bubble::before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  left: -28px;
  top: 64px;
  transform: translateY(-50%);
  border-right-color: var(--background-quinary-color);
}

.timeline-bubble img {
  position: absolute;
  border: 10px solid var(--background-quinary-color);
  top: 0px;
  left: 170px;
}

.timeline-bubble p {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--background-secondary-color);
  border: 1px solid var(--highlight-secondary-color);
  line-height: 1.5;
  text-align: center;
  white-space: pre-line;
}

.timeline-title-container {
  width: 200px;
  padding: 20px;
}

.timeline-bubble-title {
  color: rgb(13, 29, 63);
  line-height: var(--timeline-align);
}

.timeline-instruction {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: rgb(110, 110, 110);
  margin-bottom: 24px;
}

.timeline-dot:active {
  transform: translateY(-50%) scale(0.9);
  background-color: var(--highlight-secondary-color) !important;
}

/* -----Media Query----- */

@media screen and (min-width: 768px) {
  .timeline-wrapper {
    max-width: 800px;
  }

  .timeline-item {
    position: relative;
    width: 50%;
    box-sizing: border-box;
  }

  .timeline-wrapper::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item.left {
    padding: 10px 30px 10px 0px;
    left: 0;
    text-align: right;
  }

  .timeline-item.right {
    padding: 10px 0px 10px 30px;
    left: 50%;
  }

  .timeline-item.left .card-text-h3::before {
    left: -10px;
    right: -20px;
  }

  .timeline-item.left .timeline-dot {
    left: auto;
    right: -10px;
  }

  .timeline-item.left .card-row {
    flex-direction: row-reverse;
  }

  .timeline-item.right .timeline-dot {
    left: -10px;
  }

  .timeline-item.right .card-text-h3::before {
    left: -40px;
  }

  .timeline-bubble {
    width: 350px;
  }

  .timeline-title-container {
    display: none;
  }

  .timeline-item.left .timeline-bubble {
    left: 348px;
  }

  .timeline-item.right .timeline-bubble {
    left: unset;
    right: 348px; 
     
  }

  .timeline-item.right .timeline-bubble::before{
    left: unset;
    right: -31px; 
    top: 65px;
    border-left-color: var(--background-quinary-color);
    border-right-color: transparent
  }

 .timeline-item.left .timeline-bubble::before{
    top: 64px;
    left: -31px;
 }
}

@media screen and (min-width: 1024px) {
  .timeline-wrapper {
    max-width: 1050px;
  }

  .card-text {
    font-size: 20px;
  }

  .content img {
    width: 150px;
    height: 150px;
    transform: translateY(-3em);
  }

  .timeline-dot {
    top: 82px;
  }

  .timeline-bubble {
    width: 480px;
  }

  .timeline-item.left .timeline-bubble {
    left: 474px;
  }

  .timeline-item.right .timeline-bubble {
    right: 474px; 
     
  }

  .timeline-item.right .timeline-bubble::before{
    top: 70px;
  }

 .timeline-item.left .timeline-bubble::before{
    top: 70px;
 }

}

@media screen and (min-width: 1440px) {
  .timeline-wrapper {
    max-width: 1300px;
  }

  .timeline-date {
    font-size: 18px;
  }

  .card-text {
    font-size: 24px;
  }

  .content img {
    width: 200px;
    height: 200px;
    transform: translateY(-4em);
  }

  .timeline-dot {
    top: 95px;
  }

  .timeline-bubble {
    width: 680px;
  }

  .timeline-item.left .timeline-bubble {
    left: 623px;
  }

  .timeline-item.right .timeline-bubble {
    right: 623px; 
     
  }

  .timeline-item.right .timeline-bubble::before{
     top: 83px;
  }

 .timeline-item.left .timeline-bubble::before{
    top: 83px;
 }

}

@media screen and (min-width: 1920px) {
  .timeline-wrapper {
    max-width: 1400px;
  }

  .card-text {
    font-size: 26px;
  }

  .content img {
    width: 220px;
    height: 220px;
    transform: translateY(-4.5em);
  }

  .timeline-dot {
    top: 97px;
  }

  .timeline-bubble {
    width: 750px;
  }

  .timeline-item.left .timeline-bubble {
    left: 723px;
  }

  .timeline-item.right .timeline-bubble {
    right: 723px; 
     
  }

  .timeline-item.right .timeline-bubble::before{
     top: 85px;
  }

 .timeline-item.left .timeline-bubble::before{
    top: 85px;
 }

}
