.tips-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}


.tips-cards a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    width: 312px;
    height: 220px;
    background-color: var(--background-secondary-color);
    padding: 24px 16px;
    border-radius: 8px;


    font-size: 28px;
    font-weight: var(--title-weight) ;
    text-align: center;
    text-decoration: none;
    color: var(--text-primary-color);
}

.tips-cards img{
    width: 76px;
}