/* Tips section: clickable cards and responsive layout */
.tips-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
}

.tips-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;

  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  padding: 24px 16px;
  border-radius: 16px;

  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.tips-button:hover , .tips-button.active {
  border: solid 4px var(--secondary-color);
  background-color: var(--background-quaternary-color);
}

.tips-cards a h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.tips-content-panel{
 display: flex;
 flex-direction: column;
 padding: 50px;
 text-align: center;
 gap: 30px;
 background-color: var(--background-quaternary-color);
 border: solid 4px var(--secondary-color);
 margin-top: 40px;
 border-radius: 15px;
}

.tips-panel-title{
  color: var( --highlight-secondary-color);
  font-weight: var(--title-weight);
  font-size: 1.5em;


}

.tips-panel-text{
  line-height: 1.5;
  text-align: left;
  white-space: pre-line;
}

.tips-close-button{
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  text-align: center;
  font-size: 20px;
  cursor: pointer;

  border: solid 1px white;
  border-radius: 10px;

  text-align: center;
  cursor: pointer;

  padding: 10px;
  width: 200px;
  margin: 0 auto;

  
}

@media screen and (min-width: 768px) {
  .tips-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  
  .tips-cards a{
    width: 380px;
  }
}

@media screen and (min-width: 1440px){
  .tips-cards a{
    width: 384px;
  }
}

@media screen and (min-width: 1920px) {
.tips-cards {
    width: 1400px;
  }

  .tips-cards a{
    width: 450px;
  }

}