/* Tips section: clickable cards and responsive layout */
.tips-cards {
  display: flex;
  justify-content: flex-start; 
  margin: 0 auto;
  gap: 24px;

  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none;
}

.tips-cards::-webkit-scrollbar {
  display: none;
}

.tips-button {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;

  border-radius: 16px;
  background-color: var(--background-secondary-color);
  border: 1px solid #ccc;
  
  width: 160px;
  padding: 24px 16px;
  gap: 10px;

  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.tips-button:hover , .tips-button.active {
  border: solid 2px var(--highlight-secondary-color);
}

.tips-cards a h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.tips-content-panel{
 display: flex;
 flex-direction: column;
 padding: 40px 40px 30px;
 text-align: center;
 gap: 30px;
 background-color: var(--background-secondary-color);
 margin-top: 40px;
 border-radius: 15px;
}

.tips-panel-title{
  color: var( --highlight-secondary-color);
  font-weight: var(--title-weight);
  font-size: 1.5em;
}

.tips-panel-text{
  line-height: 1.5;
  text-align: left;
  white-space: pre-line;
}

.tips-close-button{
  background-color: transparent;
  color: var( --highlight-secondary-color);

  font-size: 20px;
  font-weight: var(--title-weight);

  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  
  border: none;

  padding: 12px 24px;
  width: 200px;
  margin: 32px auto 0;
}

@media (pointer: fine) {
  .tips-cards {
    scrollbar-width: auto;
     padding-bottom: 16px; 
  }

  .tips-cards::-webkit-scrollbar {
    display: block;
    height: 8px;
  }
  }
  .tips-cards::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    
}